@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.flipCardsMain {
  .cardsWrapper {
    max-width: $website-desktop-maxwidth;
    margin: 0 auto;
    padding: 112px 0;
  }
  .headerSection {
    margin: 0 20px;
    display: flex;
    align-items: center;
    gap: 20px;

    .heading {
      font-size: 30px;
      line-height: 39px;
      font-weight: 500;
    }
  }
}

.flipCardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
  justify-content: center;
  perspective: 1000px; // Enable 3D perspective
  // color: "#0f0f0f";
  padding: 112px 96px 0;
}

.card {
  background-color: transparent;
  cursor: pointer;
  perspective: 1000px;
  height: 384px;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 8px;

  // Flip the card on hover
  .card:hover & {
    transform: rotateY(180deg);
  }
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; // Hide back content when not visible
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border: 1px solid rgba(255, 255, 255, 0.62);
}

.cardFront {
  background-color: transparent;
  .label {
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    margin: 24px 0;
  }
}

.cardBack {
  transform: rotateY(180deg); // Flip the back side
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 25.6px;
  color: #333;
  background-color: #f8f8fe;
}

.iconBox {
  padding: 10px;
  border-radius: 50%;
  min-height: 80px;
  max-height: 80px;
  min-width: 80px;
  max-width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 40px;
    height: 40px;
  }
}

@include for-tablet {
  .flipCardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include for-phone {
  .flipCardsMain {
    .headerSection {
      margin: 0 20px;
      flex-direction: column;
      gap: 20px;
    }
  }
  .flipCardsContainer {
    grid-template-columns: 1fr;
    padding: 80px 20px 0;
    row-gap: 24px;
    .card {
      height: 430px;
    }
    .cardFront {
      .label {
        font-size: 24px;
        line-height: 34px;
        margin: 18px 0;
      }
    }
  }

  .iconBox {
    min-height: 64px;
    max-height: 64px;
    min-width: 64px;
    max-width: 64px;

    img {
      width: 30px;
      height: 30px;
    }
  }
}

@include from-tablet {
  .flipCardsMain {
    .headerSection {
      margin: 0 96px;
    }

    .heading {
      font-size: 46px;
      line-height: 64px;
      width: 80%;
    }
  }
  .cardInner {
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}
