@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.carouselWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 100px 0;

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 46px;
    max-width: $website-desktop-maxwidth;
    padding: 0 96px 64px;

    p {
      font-weight: 500;
    }

    .controls {
      display: flex;
      gap: 0.5rem;

      button {
        // background: #ffffff;
        border: 1px solid #ccc;
        border-radius: 20%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 24px;

        &:hover {
          font-size: xx-large;
        }
      }
    }
  }

  .carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    gap: 32px;

    &::-webkit-scrollbar {
      display: none; /* Hide scrollbar for Chrome */
    }
  }

  .card {
    border-radius: 20px;
    overflow: hidden;
    scroll-snap-align: center;

    .cardWrapper {
      &:hover {
        transform: translateY(-40px);
        transition: transform 0.5s ease-in-out;
      }
    }

    .imageWrapper {
      width: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
      }
    }

    .content {
      padding: 1rem;

      .type {
        color: #444;
        text-transform: uppercase;
        padding-bottom: 12px;
      }

      .title {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 16px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    .link {
      font-size: 16px;
      color: #2f6ae3;
      text-decoration: none;
      margin: 20px 0 0 14px;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@include for-phone {
  .carouselWrapper {
    padding: 0;

    .heading {
      padding: 0 20px 20px;
      font-size: 30px;
    }
    .controls {
      display: flex;
      gap: 0.5rem;
      margin-top: 40px;
      justify-content: center;

      button {
        border: 1px solid #ccc;
        border-radius: 20%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 24px;
      }
    }
    .card {
      flex: 0 0 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@include for-desktop {
  .carouselWrapper {
    .card {
      flex: 0 0 calc(33% - 5rem); // Show 3 cards + part of 4th
      .cardWrapper {
        height: 400px;
      }
    }
  }
}

@include for-tablet {
  .carouselWrapper {
    .card {
      flex: 0 0 100%; // Show 3 cards + part of 4th
      .cardWrapper {
        height: 400px;
      }
    }
  }
}
