.hamburgerContainer {
  position: relative;
  overflow-y: auto;
}

.hamburgerIcon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 20px;
  gap: 5px;
  height: 15px;
  margin-right: 5px;

  .bar {
    width: 100%;
    height: 1.5px;
    background-color: #fff;
  }
}

.menuOverlay {
  position: fixed;
  top: 72px;
  right: -85%; /* Initially off-screen */
  width: 85%;
  min-height: 100vh;
  height: auto;
  background-color: #262626;
  color: #fff;
  z-index: 2;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  transition: right 0.5s ease-in-out; /* Smooth slide effect */
  overflow-y: auto;
  height: calc(100vh - 500px);

  &.visible {
    right: 0; /* Bring the menu into the viewport */
  }

  .closeIcon {
    align-self: flex-end;
    cursor: pointer;
    font-size: 24px;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .menuList {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    overflow-y: visible;
    font-size: 14px;

    .menuItem {
      padding: 19px 16px;
      border-bottom: 1px solid #535353;
      cursor: pointer;
      line-height: 26px;
      display: flex;
      justify-content: space-between;

      &:hover {
        color: #ddd;
      }
    }

    .subSegment {
      padding: 10px 20px;
      background-color: rgb(50 50 50 / 1);
      position: relative; // <-- Make sure it's not absolute
      top: unset; // <-- Prevent overlap
      transition: all 0.3s ease-in-out;

      .subSegmentItem {
        padding: 5px 0;

        .title {
          font-size: 16px;
          font-weight: 600;
        }
        .subTitle {
          font-size: 12px;
        }
      }
    }
  }

  .actionButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .getStartedBtn {
      background-color: #3370ff;
      color: #fff;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      font-size: 16px;
    }

    .loginBtn {
      background: none;
      border: 1px solid #fff;
      color: #fff;
      padding: 10px 15px;
      cursor: pointer;
      font-size: 16px;
    }
  }
}
