@import "../../styles/variables.scss";

.featuredResoucesContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  max-width: $website-desktop-maxwidth;
  margin: 0 auto;
  padding: $slice-padding-desktop;
}

.card {
  background-color: #f8f8fe;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  cursor: pointer;
  position: relative;
  // height: 100%;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .image {
    // min-height: 100;
    width: 100%;
    object-fit: cover;
    height: 300px;
    border-bottom: 5px solid #0070f3;
  }

  .content {
    padding: 24px;

    &:hover {
      .link {
        span {
          font-size: large;
          color: #0070f3;
          transition: transform 1s ease-in;
          margin-left: 2px;
        }
      }
    }

    .type {
      font-size: 12px;
      color: #444;
      text-transform: uppercase;
      margin-bottom: 24px;
    }

    .title {
      font-size: 22px;
      font-weight: bold;
      color: #333;
      margin: 24px 0 70px;
      letter-spacing: -0.5px;
    }

    .link {
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      position: absolute;
      bottom: 20px;

      span {
        padding-top: 2px;
      }
    }
  }
}
