@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; // <-- important for overlay scroll
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  // allow overlay to scroll (for small screens)
  overflow-y: auto;

  .popup {
    margin: 50px 0;
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    width: 90%;
    max-width: 50%;
    position: relative;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    animation: scaleIn 0.3s ease;
    max-height: calc(100vh - 100px);
    overflow-y: auto; // scrolling inside popup

    .closeButton {
      position: absolute;
      top: 20px;
      right: 30px;
      background: none;
      border: none;
      font-size: 30px;
      cursor: pointer;
    }

    .content {
      margin-top: 1rem;
    }
  }
}

@include for-phone {
  .popupOverlay {
    align-items: flex-start;
    .popup {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      margin: 0;
      border-radius: 0;
      padding: 30px;
      overflow-y: auto; // ensures popup content scrolls
    }
  }
}
