@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.contactContainer {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 72px;

  .formSection {
    width: 50%;
    padding: 54px 96px;
    background-image: url("/static/images/contact-form-bg.svg");

    .formContainer {
      background: rgba(255, 255, 255, 1);
      padding: 48px;
      border-radius: 20px;
      height: 100%;
      color: #000;

      .formHeader {
        font-size: 38px;
        font-weight: 600;
      }

      .description {
        margin: 16px 0 40px 0;
      }

      .contactForm {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 500px;

        label {
          display: flex;
          flex-direction: column;
          font-weight: 500;
          font-size: 14px;
          color: #333;

          input,
          select,
          textarea {
            margin-top: 8px;
            padding: 12px 14px;
            border: 1px solid #ddd;
            border-radius: 6px;
            background-color: #f5f5f5;
            font-size: 14px;
            outline: none;

            &:focus {
              border-color: #aaa;
              background-color: #fff;
            }
          }

          select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
            background-repeat: no-repeat;
            background-position: right 12px center;
            background-size: 16px 16px;
          }

          textarea {
            resize: vertical;
          }
        }
        .error {
          color: red;
        }

        .submitBtn {
          background: rgba(48, 126, 244, 1);
          border-radius: 10px;
          height: 55px;
          color: #fff;
          font-weight: 600;
        }
        .loader {
  color: #888;
  margin-top: 10px;
  font-size: 14px;
}

      }
    }
  }
  .infoSection {
    padding: 0 96px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .mailCard {
      height: auto;
      border-radius: 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 32px;
      background: rgba(35, 136, 255, 1);
      width: 100%;
      row-gap: 20px;

      .mailItem {
        font-size: 16px;
        .title {
          font-weight: 600;
          margin: 0 0 8px;
        }
      }
    }

    .officeInfo {
      width: 400px;
      margin-top: 50px;

      .heading {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 30px;
      }
      .infoWrapper {
        margin-bottom: 20px;
      }
    }
  }
}

@include for-phone-tablet  {
  .contactContainer {
    flex-direction: column;
    .formSection {
      width: 100%;
      padding: 40px 20px;

      .formContainer {
        padding: 40px 20px;

        .formHeader {
          font-size: 28px;
        }
        .description {
          font-size: 14px;
          margin: 10px 0 32px 0;
        }
      }
    }
    .infoSection {
      padding: 0 96px;
      width: 100%;
      padding: 40px 20px;

      .mailCard {
        grid-template-columns: 1fr;
      }

      .officeInfo {
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        max-width: 100%;
      }
    }
  }
}
