@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.infoShowcaseContainer {
  .heading {
    font-size: 40px;
    text-align: center;
  }
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
  color: #fff;
  max-width: $website-desktop-maxwidth;
  margin: 0 auto;
  padding: 60px 192px;

  .side {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 250px;

    .point {
      h3 {
        font-size: 1.1rem;
        font-weight: 700;
        margin-bottom: 0.3rem;
      }
      p {
        font-size: 0.9rem;
        color: #ccc;
      }
    }
    &.right {
      text-align: right;

      .point {
        align-items: flex-end;
      }
    }
  }

  .center {
    position: relative;
    flex-shrink: 0;

    .image {
      width: 400px;
      height: auto;
      z-index: 2;
      position: relative;
    }

    .dottedCircle {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 380px;
      height: 380px;
      border: 1px dashed #555;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  }
}

@include for-phone {
  .infoShowcaseContainer {
    padding: 64px 20px 20px 0;
    .heading {
      font-size: 30px;
      text-align: left;
      margin-left: 20px;
    }
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;
    color: #fff;
    padding: 20px 0;
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;

    .heading {
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    .scrollList {
      max-height: 60vh;
      overflow-y: auto;
      padding-right: 10px;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE 10+ */
      &::-webkit-scrollbar {
        width: 0; /* Chrome/Safari */
        background: transparent;
      }

      .item {
        margin-bottom: 1.5rem;

        h3 {
          font-size: 1.2rem;
          font-weight: 600;
          margin-bottom: 0.2rem;
        }

        p {
          font-size: 0.95rem;
          color: #cfcfcf;
          line-height: 1.4;
        }
      }

      /* Scrollbar styling */
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        background: #444;
        border-radius: 6px;
      }
    }
  }

  .left {
    flex: 1;
    display: flex;
    align-items: center;

    .image {
      max-width: 80%;
      height: auto;
    }
  }
}

@include from-tablet {
  .infoShowcaseContainer {
    padding: 96px 0;
  }
}

@include for-tablet {
  .wrapper {
    padding: 60px 20px;
  }
}
