@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

// Keyframes for opening the menu
@keyframes menuOpen {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Keyframes for closing the menu
@keyframes menuClose {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.mainHeader {
  background-color: hsla(0, 0%, 6%, 0.7);
  height: 72px;
  color: #fff;
  width: 100%;
  top: 0;
  z-index: 10;
  position: fixed;
  backdrop-filter: blur(20px);

  .mainHeaderContainer {
    max-width: $website-desktop-maxwidth;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 72px;
    justify-content: space-between;

    .logo {
      margin-right: 40px;
      cursor: pointer;
      img {
        width: 169px;
        height: 32px;
        gap: 8px;
      }
    }
  }

  .headerOptions {
    display: flex;
  }

  .header {
    display: flex;
    padding: 8px;
    align-items: center;
    margin-right: 4px;
    cursor: pointer;
    flex-direction: row;
    &:hover {
      background-color: rgba(128, 128, 128, 0.3);
      border-radius: 10px;
    }

    p {
      margin-right: 2px;
      font-size: 14px;
      font-weight: 600;
    }

    .dropdownMenu {
      position: absolute;
      top: 72px;
      left: 0;
      background-color: hsla(0, 0%, 6%, 0.95);
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      cursor: pointer;
      padding: 40px 64px;
      border-radius: 0 0 20px 20px;

      &.short {
        padding: 15px;
        width: 280px;
      }

      .dropDownWrapper {
        border-radius: 5px;
        z-index: 2;
        display: grid;
        grid-template-columns: 1fr;
        list-style-type: none;
        gap: 10px;
        align-items: center;

        // When there are more than 5 items, switch to two columns
        &.doubleGrid {
          grid-template-columns: 1fr 1fr;

          .menuItem {
            max-width: 500px;
          }
        }
      }

      .menuItem {
        display: flex;
        align-items: flex-start;
        padding: 10px;

        &:hover {
          background: rgba(255, 255, 255, 0.12);
          border-radius: 10px;

          .iconWrapper {
            background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.12),
                rgba(255, 255, 255, 0.12)
              ),
              linear-gradient(
                223.15deg,
                #00f1e0 3.02%,
                #0034e4 59.44%,
                #001d7e 98.6%
              );

            opacity: 1;
          }
        }

        .iconWrapper {
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.12);
          min-height: 50px;
          min-width: 50px;
          margin-right: 20px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            opacity: 1;
          }
        }
        .title {
          font-size: 24px;
        }
        .subTitle {
          color: rgba(255, 255, 255, 0.8);
          font-size: 12px;
          margin-top: 10px;
        }
      }
    }
  }
}

@include for-phone {
  .mainHeader {
    padding: 12px 20px;
    height: auto;

    .mainHeaderContainer {
      justify-content: space-between;
      height: 48px;

      .logo {
        img {
          width: 120px;
          height: 24px;
        }
      }
    }
  }
}

@include from-tablet {
  .mainHeader {
    .mainHeaderContainer {
      padding: $slice-padding-desktop-2;
    }

    .dropdownMenu {
      padding: 10px 64px;

      .dropDownWrapper {
        .title {
          font-size: 16px;
        }

        .subTitle {
          font-size: 12px;
        }
      }
    }
  }
}
