@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

@include for-phone {
  .opportunititesPage {
    padding: 20px;
    .opportunitiesHero {
      .heading {
        margin-top: 100px;
        font-size: 48px;
      }
    }
  }
  .openPostionContainer {
    padding: 64px 0;
  }
  .pathWrapper {
    .iconCircle {
      min-height: 27px;
      max-height: 27px;
      min-width: 27px;
      max-width: 27px;
      margin-top: 5px;
    }

    .rightSection {
      margin-top: 32px;
    }
  }
  .cardGrid {
    .card {
      flex: 1 1 auto;
      max-width: 100%;
      width: 100%;
      padding: 20px;
      margin-bottom: 20px;
      .meta {
        gap: 10px;
        font-size: 12px;

        span {
          padding-left: 10px;
        }
      }

      .description {
        max-width: 100%;
      }
    }
  }

  .submissionSuccessWrapper {
    padding: 0 20px 64px 20px;
    .submissionSuccessCard {
      flex-direction: column;
      padding: 20px;

      .submissionSuccessLeft {
        width: 100%;
      }

      .submissionSuccessRight {
        width: 100%;
      }
    }
  }

  .jobApplicationWrapper {
    .topSection {
      padding: 0px;
      .topSectionWrapper {
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        padding: 100px 20px;

        .left {
          h1 {
            margin-bottom: 20px;
          }
        }
        .right .viewJobCta {
          margin-top: 30px;
        }
      }
    }
  }

  .jobDescriptionContainer {
    .footer {
      .applyBtn {
        margin: 40px 0;
      }
    }
  }

  // .opportunititesPage {
  //   background: url("/static/images/careers/opportunitiesHeroBannerMobile.svg")
  //     no-repeat;
  //   z-index: -1;
  // }
}

@include from-tablet {
  .pathWrapper {
    padding: 112px 96px;

    .stepContainer {
      display: flex;
      justify-content: space-between;
    }

    .leftSection {
      align-items: center;
    }
  }
}

@include for-phone-tablet {
  .avatarGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: 0 0 0 20px;
    flex-wrap: wrap;

    .card {
      background: rgba(255, 255, 255, 0.3);
      border-radius: 20px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease;
      position: relative;
      margin-left: -20px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .label {
        position: absolute;
        bottom: 10px;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        padding: 5px 10px;
        border-radius: 10px;
      }
    }

    .card0 {
      transform: rotate(-8deg);
    }

    .card1 {
      transform: rotate(8deg);
    }

    .card2 {
      transform: rotate(-8deg);
    }

    .card3 {
      transform: rotate(8deg);
    }

    .card4 {
      transform: rotate(-8deg);
    }
    .card5 {
      transform: rotate(8deg);
    }
  }
}
