@import "../../styles/mixins.scss";

.videoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .videoContainer {
    position: relative;
    width: 100%;
    margin: auto;

    .video {
      width: 100%;
      object-fit: cover;
      border-radius: 20px;
    }

    .controls {
      position: absolute;
      top: 40%;
      left: 42%;
      display: none; /* Initially hidden */
      gap: 10px;

      .controlButton {
        // background-color: rgba(0, 0, 0, 0.6);
        color: #000;
        padding: 8px 12px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 30px;
        display: flex;
        align-items: center;
        transition: background-color 0.3s ease;
      }
    }
  }

  .textContent {
    margin-top: 20px;
    text-align: center;
    color: #fff;
  }

  @media (min-width: 768px) {
    flex-direction: row;

    .videoContainer {
      flex: 2;
    }

    .textContent {
      flex: 1;
      padding: 20px;
    }
  }
}

@include for-phone {
  .videoSection {
    height: fit-content;
  }
}

@include from-tablet {
  .videoSection {
    .videoContainer {
      .controls {
        top: 45%;
        left: 47%;
      }
    }
  }
}
